.calculator.dark {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 15px;
  padding: 15px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: rgba(76, 76, 76, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 39%,
    rgba(44, 44, 44, 1) 50%,
    rgba(0, 0, 0, 1) 51%,
    rgba(17, 17, 17, 1) 60%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(76, 76, 76, 1)),
    color-stop(12%, rgba(89, 89, 89, 1)),
    color-stop(25%, rgba(102, 102, 102, 1)),
    color-stop(39%, rgba(71, 71, 71, 1)),
    color-stop(50%, rgba(44, 44, 44, 1)),
    color-stop(51%, rgba(0, 0, 0, 1)),
    color-stop(60%, rgba(17, 17, 17, 1)),
    color-stop(76%, rgba(43, 43, 43, 1)),
    color-stop(91%, rgba(28, 28, 28, 1)),
    color-stop(100%, rgba(19, 19, 19, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 39%,
    rgba(44, 44, 44, 1) 50%,
    rgba(0, 0, 0, 1) 51%,
    rgba(17, 17, 17, 1) 60%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 39%,
    rgba(44, 44, 44, 1) 50%,
    rgba(0, 0, 0, 1) 51%,
    rgba(17, 17, 17, 1) 60%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 39%,
    rgba(44, 44, 44, 1) 50%,
    rgba(0, 0, 0, 1) 51%,
    rgba(17, 17, 17, 1) 60%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 39%,
    rgba(44, 44, 44, 1) 50%,
    rgba(0, 0, 0, 1) 51%,
    rgba(17, 17, 17, 1) 60%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}

.calculator.dark .top {
  display: flex;
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  justify-content: flex-end;
}

.calculator.dark .top .display {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.calculator.dark .top .help {
  text-align: right;
  color: gray;
  font-size: small;
  height: 20px;
}

.calculator.dark .display .result {
  background-color: green;
  color: white;
  text-align: right;
  padding: 15px;
  font-style: italic;
}

.calculator.dark .top .functions {
  display: flex;
  flex: 0 1 auto;
  margin-left: 15px;
  width: 60px;
  height: 100%;
  align-items: flex-end;
}

.calculator.dark .functions button {
  background-color: #333;
  color: red;
  min-width: 50px;
  min-height: 50px;
}

.calculator.dark .numbers .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator.dark .numbers button {
  flex: 0 1 auto;
  background-color: yellow;
  color: gray;
  min-width: 60px;
  min-height: 60px;
  font-size: large;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000000;
}
